<?xml version="1.0"?>
<model>
  <name>3DR Iris with  camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_camera.sdf</sdf>

  <author>
   <name>Mattia Giurato</name>
   <email>mattia.giurato@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing camera.
  </description>
</model>
